@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import './variables.scss';

html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
        z-index: 1;
        border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-bottom: none;
        border-radius: 6px;
        background-color: $mainGreen100;
        background-clip: content-box;
        &:hover {
            background-color: $mainGreen;
        }
    }
    &::-webkit-scrollbar-track {
        background-color: $background;
    }
}

.nuxtLink {
    text-decoration: none;
    color: $mainGreen;
    &.bold {
        font-weight: bold;
    }
    &:hover {
        color: $mainGreen600;
    }
}

.greenLighterText {
    color: $mainGreen100;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.flex-small-column {
    @media (max-width: 576px) {
        flex-direction: column !important;
    }
}

.v-card {
    padding: 20px !important;
}
